.account {
  padding-top: 30px;
  padding-bottom: 40px;

  &__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1040px;
    margin: 15px auto 45px;
    align-items: center;

    @include response-to(large) {
      max-width: 1070px;
      padding: 0 15px;
    }

    @include response-to(small) {
      flex-direction: column;
    }

    &_info {
      display: flex;
      align-items: center;

      @include response-to(small) {
        margin-bottom: 20px;
      }

      & .text:first-of-type {
        margin-bottom: 10px;

        @include response-to(small) {
          margin-bottom: 5px;
        }
      }
    }

    &_avatar {
      width: 135px;
      height: 135px;
      background-color: #C4C4C4;
      border-radius: 50%;
      margin-right: 40px;
      position: relative;
      @include flex-center();
      overflow: hidden;

      @include response-to(small) {
        width: 60px;
        height: 60px;
        margin-right: 20px;
      }

      &-img {
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-position: center;
        background-size: cover;
      }

      & span {
        font-size: 60px;

        @include response-to(small) {
          font-size: 30px;
        }
      }
    }

    &_btn {

      & a {
        display: block;
        background: #C4C4C4;
        border-radius: 5px;
        text-align: center;
        padding: 12px 0;
        width: 260px;
        font-size: 24px;
        color: #000;
        @include transition-ease;

        @include on-event {
          background: darken(#C4C4C4, 10);
        }

        @include response-to(small) {
          font-size: 16px;
        }
      }
    }
  }

  &__current-books {
    background-color: #C4C4C4;
    padding: 20px 0;
    margin-bottom: 52px;

    &_title {
      width: 100%;
      max-width: 1040px;
      margin: 0 auto;
      font-size: 24px;
      font-weight: 500;
    }

    &_wrap {
      margin-top: 26px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &_item {
      width: 235px;

      @include response-to(small) {
        width: 150px;
      }

      &-img {
        display: block;
        background-color: #fff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        margin-bottom: 13px;
        width: 235px;
        height: 190px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        @include response-to(small) {
          width: 100%;
          height: 140px;
        }
      }

      & p {
        color: #000;
        margin-bottom: 6px;
        font-size: 18px;

        @include response-to(small) {
          font-size: 16px;
        }
      }
    }
  }

  &__btns {

    & a {
      width: 450px;
      display: block;
      margin: 0 auto 30px;
      background: #C4C4C4;
      border-radius: 5px;
      padding: 21px 0;
      text-align: center;
      font-size: 24px;
      font-weight: 500;
      color: #000;

      @include on-event {
        background: darken(#C4C4C4, 10);
      }

      @include response-to(small) {
        max-width: 450px;
        width: 90%;
        font-size: 20px;
        padding: 15px 0;
      }
    }
  }
}