.history {
  padding-top: 30px;
  min-height: 80vh;
  padding-bottom: 40px;

  &__wrap {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1145px;
    margin-left: auto;
    margin-right: auto;
  }

  &__item {
    width: 30%;
    margin-bottom: 20px;

    &_img {
      height: 200px;
      background-color: #C4C4C4;
      border-radius: 5px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      margin-bottom: 10px;
      position: relative;
    }

    &_title {
      font-size: 24px;
      color: #000;
      font-weight: 500;
    }
  }

  &.favorites {

    & .history__item_img:before {
      background-image: url('../../img/heart_fill.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      position: absolute;
      content: '';
      top: 10px;
      right: 13px;
      width: 20px;
      height: 18px;
      z-index: 2;
    }
  }
}