.single {
  padding-top: 60px;
  padding-bottom: 60px;
  min-height: 80vh;

  &__header {
    display: flex;
    width: 100%;
    max-width: 850px;
    justify-content: space-between;
    margin-bottom: 28px;
  }

  &__address {
    margin-bottom: 44px;
  }

  &__wrap {
    margin-bottom: 30px;
    display: flex;
  }

  &__img {
    width: 618px;
    height: 330px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: 50px;
  }

  &__content {

    & .text {
      margin-bottom: 25px;

      & a {
        color: #000;
        text-decoration: underline;

        @include on-event {
          text-decoration: none;
        }
      }
    }
  }
}